h1{
	background: -moz-linear-gradient(top, #CCCCCC, #777777 50%, #666666 51%,#444444);
	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), color-stop(50%, #777777), color-stop(51%, #666666),to(#444444));
	color:#FFF;
	font-family: Gill Sans, Verdana;
	text-shadow: -1px -1px #AAAAAA;
	padding:5px 10px 5px 10px;
}

body{
	width:80%; margin:auto;
	font-size : 1em;
}

table{
	border-collapse:collapse;
}
caption{
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

td{
	background-color: #c9c9c9;
	border: 1px solid #a1a1a1;
	-moz-box-shadow: inset 1px 1px #ffffff;
	-webkit-box-shadow: inset 1px 1px #ffffff;
	box-shadow: inset 1px 1px #ffffff;
	/*Inner elements should not cover inner shadows*/
	/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
	padding:10px 5px;
}

a:link{
	color:#0033AA;
	text-decoration:none;
}

a:hover{
	color:#000000;
	background:#AAFFAA;
}

a:visited{
	color:#AA3300;
	text-decoration:none;
}

.items{
	line-height:1.6em;
}

#author{
	text-align:right;
}

#intro{
	font-style: italic;
}
