h1{
	font-size: 2em;
	border-left: 7px solid #23651C;
	border-bottom: 1px solid #23651C;
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 3px;
	color: #262E26;
}

body{
	width:80%;
	margin:auto;
	padding-bottom: 20px;
	font-size:1em;
	background-color: #E1FFDD;
	color: #3A4239;
}

table{
	box-shadow: 3px 3px 12px 3px #23651C;
}
caption{
	text-shadow: 3px 3px 3px #50E840;
	font-size:1.2em;
	margin-bottom: 0.5em;
}

td{
	padding:5px;
	vertical-align:top;
}

a:link{
	color:#0033AA;
	text-decoration:none;
}

a:hover{
	color:#000000;
	background:#AAFFAA;
}

a:visited{
	color:#AA3300;
	text-decoration:none;
}

.items{
	line-height:1.6em;
}

#author{
	text-align:right;
}

#intro{
	font-size: 1.2em;
}
