h1        {font-size:200%; text-align:center}
body      {width:80%; margin:auto; font-size : 0.75em}
table     {border:1px dashed; border-spacing:5px;}
caption   {background-color:#DDDDDD; font-size:1.2em}
td        {padding:5px; vertical-align:top;}
a:link    {color:#0033AA; text-decoration:none}
a:hover   {color:#000000; background:#AAFFAA}
a:visited {color:#AA3300; text-decoration:none}
.items    {line-height:1.6em}
#author   {text-align:right}
#intro    {border-bottom-style:solid; border-color:#00DD55;}